.dark-background {
    background-color: #25282c !important;
}

.dark-foreground {
    background-color: #2f3337 !important;
}
li.dark-foreground:hover,
button.dark-foreground:hover,
.bg-dark:hover,
a.dark-foreground:hover {
    background-color: #25282c !important;
}